.add-unique-form form {
  input {
    margin-right: 2rem;
    padding: 2vh;
    border-top: 1vh solid red;
    border-left: 1vh solid blue;
    border-right: 1vh solid yellow;
    color: brown;
    font-size: 1.5vh;
    font-family: "Luxurious Roman", cursive;
  }
  @media (max-width: 768px) {
    input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  h3 {
    font-family: "Luxurious Roman", cursive;
    color: honeydew;
  }
}
